*{margin: 0; padding: 0;}

body{ background:linear-gradient(to right, rgb(0, 4, 40), rgb(0, 78, 146));
background-position: center;
background-size: cover;
/* background-repeat: no-repeat;} */}

.Container{background-color: rgba(0, 0, 0, 0.596);
         display:flex; }

.ex1{padding:20px; font-size: 25px;
   }
 
a{color: white; text-decoration: none;}
a:hover{color: salmon;}

.ex5{margin-left: auto; margin-right: 100px;}
.ex2,.ex3,.ex4{margin-left: 50px;
 }



.ex6:hover{color:rgb(255, 0, 119); background-color: thistle;}
.ex6{background-color: rgb(255, 0, 234); padding: 15px;
   border-radius: 40px; }
 